
html {
}

body {
  margin: 0;
  padding: 0;
  font-family: sans;
  font-size: 12px;
  margin: 1em;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

table tr td {
  padding: 3px;
  border: 1px solid #aaa;
}

table tr th {
  background-color: bisque;
  border: 1px solid #aaa;
  font-weight: bold;
}

table tr td.numeric {
  text-align: right;
}


.head {
  margin: 0 9%;
  font-size: 24px;
  font-weight: bold;
  color: darkolivegreen;
}

.main {
  margin: 0 9%;
  overflow: hidden;
  padding: 1em;
}

.caption {
  float: left;
  clear: left;
}

table.year {
  float: left;
  clear: left;
  margin-top: 1em;
  font-size: 20px;
}

table.top {
  float: right;
  margin-top: 2em;
}

table.stats {
  float: left;
  clear: left;
  margin-top: 2em;
  width: 100%;
}

table.stats tr:nth-child(2n+1) {
  background-color: #efc;
}

table.stats tr:last-child {
  background-color: beige;
}

.period {
  text-decoration: underline;
}
